<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="EvolutionServerName" value="NELIUS\SQL2014FULL" />
    <add key="EvolutionDatabase" value="SAW Africa Final" />
    <add key="EvolutionUserName" value="sa" />
    <add key="EvolutionPassword" value="sa" />
    <add key="CommonServerName" value="NELIUS\SQL2014FULL" />
    <add key="CommonDatabase" value="EvolutionCommon209" />
    <add key="CommonUserName" value="sa" />
    <add key="CommonPassword" value="sa" />
    <add key="LogFilePath" value="C:\AIT\SAW.txt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>